#events {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #00000080, #00000080),
    url("../../img/menu-list/counter-bg-1.jpg");
}

#events h3 {
  color: var(--first-accent-color);
}

#events h2:not(.event-counter-header) {
  color: var(--quinary-text-color);
}

.event-box {
  width: 80%;
  display: flex;
}

.event-box .event-box-left {
  width: 50%;
  display: flex;
}

.event-box-left p {
  font-size: 11px;
}

.event-box-left .event-val {
  background-image: url("../../img/menu-list/valentine-1.jpg");
  padding: 20px 320px;
  background-size: cover;
}

.event-box-left p {
  writing-mode: vertical-lr;
  text-orientation: upright;
  background-color: rgb(236, 54, 54);
  padding: 10px 4px;
  color: var(--quinary-text-color);
}

.event-box .event-box-left img {
  width: 100%;
}

.event-counter {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg);
  padding: 10px 30px 0;
  text-align: center;
}

.event-counter h2 {
  color: var(--tetirary-text-color);
  padding-bottom: 20px;
}

.event-counter p {
  padding-bottom: 15px;
  color: var(--quatenary-text-color);
  font-size: 15px;
}

.main-counter {
  display: flex;
  text-align: center;
}

.main-counter p {
  padding: 20px;
  background-color: var(--first-accent-color);
  color: var(--quinary-text-color);
  margin: 0 5px;
  width: 100px;
  font-size: 15px;
}

.main-counter span {
  display: block;
  font-size: 28px;
}

.event-button {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: var(--first-accent-color);
  border: none;
  color: var(--quinary-text-color);
}

.event-button:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
  opacity: 0.8;
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .main-counter p {
    width: 80px;
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .event-box {
    display: grid;
    grid-template-columns: auto;
  }

  .event-counter {
    width: 100%;
    padding-bottom: 30px;
  }

  .event-bot .event-box-left {
    padding: 20px 100px;
    width: 200px;
  }

  .event-box-left p {
    display: none;
  }

  .event-val {
    display: none;
  }

  #events h2 {
    padding: 0 30px 30px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .event-counter {
    width: 80%;
    margin: 0 auto;
  }

  .main-counter p {
    width: 80px;
    font-size: 15px;
  }

  .main-counter p span {
    font-size: 15px;
  }
}
